body{
  background-color: black;
}

div.title {
  position: absolute; 
  z-index: 1; 
  top: 165px;
  left: 0; 
  right: 0; 
  margin-left: 440px; 
  width: 625px;
}

h1.gravity {
    font-family: Helvetica, sans-serif; 
    color: white;
    font-size: 122px;
}

div.text{
  position:absolute;
  font-family: Helvetica, sans-serif; 
  color: white;
  width:1225px;
  margin: auto;
  top: 460px; left: 150px;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 100;
  text-align: justify;
  text-align: center;
  
}
